<%= render "gamedata/menu" %>
<%= render "gamedata/menu_googlespreadsheet" %>
<table>
<tr>
<td><button type="submit" onclick="exportfileproduction(8, false, '');">Publish production</button></td>
</tr>
</table>

<div class="outer-container"> <!-- absolute positioned container -->
<div class="inner-container">

    <div class="table-header">
        <table id="headertable" width="200px" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="header-cell">Note</th>
                    <th class="header-cell">Type</th>
                    <th class="header-cell">Level</th>
                    <th class="header-cell">BuildCostGold</th>
                    <th class="header-cell">BuildCostGem</th>
                    <th class="header-cell">BuildTimeInMinutes</th>
                    <th class="header-cell">ExperienceGained</th>
                    <th class="header-cell">Capacity</th>
                    <th class="header-cell">HitPoints</th>
                    <th class="header-cell">TownHallLevelRequired</th>
                    <th class="header-cell">MaxLevel</th>
                    <th class="header-cell">ObjectType</th>
                    <th class="header-cell">PrefabName</th>
                    <th class="header-cell">DisplayName</th>
                    <th class="header-cell">NumTileOneSide</th>
                    <th class="header-cell">HasBase</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-body">

<table class="ex1" style="font-size:13px" id="tblother_buildings">
    <tbody>
     <% @datas.each_hash do |row|%>
        <tr>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obNote"><%= row['Note']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obType"><%= row['Type']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obLevel"><%= row['Level']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obBuildCostGold"><%= row['BuildCostGold']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obBuildCostGem"><%= row['BuildCostGem']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obBuildTimeInMinutes"><%= row['BuildTimeInMinutes']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obExperienceGained"><%= row['ExperienceGained']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obCapacity"><%= row['Capacity']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obHitPoints"><%= row['HitPoints']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obTownHallLevelRequired"><%= row['TownHallLevelRequired']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obMaxLevel"><%= row['MaxLevel']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obObjectType"><%= row['ObjectType']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obPrefabName"><%= row['PrefabName']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obDisplayName"><%= row['DisplayName']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obNumTileOneSide"><%= row['NumTileOneSide']%></div></div></td>
          <td class="body-cell"><div><input type="hidden" value="<%= row['pkID']%>"/><div contenteditable class="obHasBase"><%= row['HasBase']%></div></div></td>
        </tr>
     <% end%>
  </tbody>
</table>
</div>
</div>
</div>
